html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.counter-container{
    width: 400px;
    text-align: center;

}

.count-display{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 10px;
    padding: 50px;
    font-size: 50px;
    border-radius: 5%;
}

.count-display-negative{
    background-color: rgb(192, 124, 124);

}

.count-display-null{
    background-color: rgb(219, 220, 131);
}

.count-display-positive{
    background-color: rgb(124, 192, 130);
}

.counter-button-container{
    justify-content:space-aroun